.works-path {
	padding: 80px 0 30px;
	// .works-path__title

	&__title {
		@extend %title-font;
		text-align: center;
		color: $title;
		margin-bottom: 40px;
		font-size: 36px;
		line-height: 51px;
	}

	// .works-path__items

	&__items {
	}

	// .works-path__items-box

	&__items-box {
		display: flex;
		align-items: flex-end;

		border-bottom: 2px solid rgba($title, 0.7);
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 10px;
			height: 10px;
			background: #363838;
			border-radius: 50%;
		}
	}

	// .works-path__item

	&__item {
		width: 250px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		height: 100%;
	}

	&__item--production {
		margin-left: 317px;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 20px;
			width: 2px;
			background: rgba($title, 0.7);
		}
	}

	&__item--production,
	&__item--consultation {
		padding-bottom: 38px;
	}

	&__item--measuring {
		padding-top: 38px;
		margin-left: 305px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 20px;
			width: 2px;
			background: rgba($title, 0.7);
		}
	}
	// .works-path__item-img

	&__item-img {
	}

	// .works-path__item-title

	&__item-title {
		@extend %title-font;
		margin-left: 13px;
		color: $title;
	}

	// .works-path__item-text

	&__item-text {
		margin-top: 13px;
	}
}
